body, html {
    height: 100vh;
}

header {   
    display: flex;  
    max-height: 8%; /* 5% de la hauteur de la page */
}
nav{
    display: block;
    flex-direction: row;
    width: 955px;
}

nav a{
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    text-decoration: none;
    color: blue;
    transition: 0.5;
}

nav a:hover{
    color: orange;
}

.avion{
    width: 30px;
    transition: transform 0.5s;
}

.avion:hover {
    transform: rotate(360deg);
}

.logo{
    margin-right: 22%;
}

main {
    background-color: red; /* Couleur de fond du body */
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 67%; /* 70% de la hauteur de la page */
}

.color1{
    background-color: #004e66; */
}
.bgfooter2{
    background-color: #e1eef6 ; 
}
.color3{
    background-color: #ff5f2e;
}
.text{
    color: white;
}

.text_information{
    color: #3f7b8e;
    background-color: #004e66;
    position: absolute;
    
}

.img_calculator{
    width: 27%;
    height : auto;      
}
.img{
    width: 70px;
    height: 75px;
}
.test{
    background-image: url("calculator.png");
}
.text-dark-blue{
    color: #105970;
    width: 30%;
}

.bgfooter1{
    background-color: #004e66;
}
.bold-text{
    width: 130px;
    color: gray;    
}