li {
    padding-left: 90px;
    font-size: 14px;
    text-decoration: none;
    color: darkblue;
    transition: 0.5;
}

.avion {
    width: 30px;
    transition: transform 0.5s;
}

.avion:hover {
    transform: rotate(360deg);
}

.navbar-nav .nav-item:nth-child(1) .nav-link {
    color: #ff5f2e;
}

.navbar-toggler.custom-toggler {
    color: #fff;
    border-radius: 4px;
    padding: 0;
    font-size: 40px;
}

.navbar-toggler-icon {
    color: #ff5f2e;
}

.photo {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 10px;
    margin: 20px;
}

.image-selectionnee img {
    width: 400px;
    max-height: 400px;
}

.choix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.choix img {
    width: 80px;
    max-height: 50px;
}

.custom-button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ff5f2e;
    ;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.argent {
    margin-left: 600px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #FFC400;
    color: black;
    border: none;
}

.custom-style {
    color: white;
    text-align: center;
    padding: 1%;
}

.custom-style img {
    width: 100%;
    height: 200px;
}

.citation {
    font-size: 12px;
}

.info {
    font-size: 13px;
    color: gray;
}

.titre {
    border-left: 4px solid #ff5f2e;
    ;
}

.custom-style1 img {
    width: 430px;
    max-height: 430px;
}


.margin-custom-tokyo {
    margin-right: 3%;
    margin-bottom: 15%; /* Ajustez la valeur selon vos besoins */
}

.textcustomTokyo {
    color: #ff5f2e;  
}

.bgcustom {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.093), rgba(255, 255, 255, 0.7));
}

.bgfooter2 {
    background-color: #e1eef6;

}

.color3 {
    background-color: #ff5f2e;
}

.text {
    color: white;
}

.text_information {
    color: #3f7b8e;
    background-color: #004e66;
    position: absolute;

}

.img_calculator {
    width: 27%;
    height: auto;
}

.img {
    width: 70px;
    height: 75px;
}

.test {
    background-image: url("calculator.png");
}

.text-dark-blue {
    color: #105970;
    width: 30%;
}


.bgfooter1 {
    background-color: #004e66;
}

.bold-text {
    width: 130px;
    color: gray;

}

.bgcustom {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.093), rgba(255, 255, 255, 0.7));
}


.bgImage {
    background-image: url('../image/amsterdam.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}


.bgform {
    background-color: #004e66;
}

.search {

    gap: 10px 70px;
    /* Espacement entre les éléments */

}

.btncustom {

    display: inline-block;
    font-weight: 500;
    text-align: center;
    color: white;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    width: 25%;
    background-color: #ff5f2e;
}

.ligne {
    height: 30vh;
}

.textcustom {
    color: #ff5f2e;
}

.cm {
    margin-right: 4.3%;
    margin-bottom: 15%;
    /* Ajustez la valeur selon vos besoins */
 }

 .background{
    background: url(Fond-Contact.jpg);
    position: relative;
 }